footer {
    background-color: #1c2331;
  }
  
  footer .social-networks {
    background-color: #037F64;
  }
  footer hr {
    width: 60px;
    background-color: #037F64;
    height: 2px;
  }
  footer .footer-bottom {
    background-color: rgba(0, 0, 0, 0.2);
  }
  footer a {
    text-decoration: none;
  }
  footer ul {
    padding: 0;
  }
  footer ul li {
    list-style: none;
  }

.footer-mobile {
  display: none;
}


  
@media (max-width:700px) {
  footer {
    display: none;
  }

  .footer-mobile {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
  }

  .footer-mobile ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .footer-mobile ul li {
    padding: 0 12px;
  }

  .mobile-add {
    background-color: white;
    color: #037F64;
    font-size: 36px;
    border-radius: 50%;
  }
}
