.registration-form {
    width: 400px;
    margin: 0 auto;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #037F64;
    text-align: center;
}

.registration-form-border {
    border: 2px solid #037F64;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.registration-border {
    border: 2px solid #037F64;
    border-radius: 24px;
    margin-top: 12px;
    padding-bottom: 6px;
    border-top-right-radius: 140px;
    border-top-left-radius: 140px;
}

.register-btn {
    background-color: #037F64;
    color: white;
    padding: 12px;
    border-radius: 12px;
    border-color: transparent;
    margin-top: 12px;

    
}

.register-btn:hover {
        background-color: white;
        color: #037F64;
}

.login-enter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 25px;
    color: gray;
}
.pswd {
    margin-top: 12px;
    text-decoration: none;
}